@import "./variables";


div, figure, section, nav, article, input, textarea {
  padding:0; margin:0; box-sizing: border-box;
  font-family: 'Helvetica','Segoe UI','Roboto', sans-serif;
}

html, body {
  height:100%;
  padding:0; margin:0; box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display:inherit;
  text-decoration: inherit;
  color:inherit;
}




/* LOCKING TO PORTRAIT MODE! */
//@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
//  html {
//    transform: rotate(-90deg);
//    transform-origin: left top;
//    width: 100vh;
//    overflow-x: hidden;
//    position: absolute;
//    top: 100%;
//    left: 0;
//  }
//}





/********************************************/
/*              SHARED STYLES               */
/********************************************/

.panel-pad {
  padding:30px 50px;

  max-width:$maxwidth;
  margin:0 auto;
}

.mobile {
  .panel-pad {
    padding:30px;
  }
}

.list-and-panel {
  display:flex;

  .nav-list {
    flex: 0 0 auto;
    padding-right:100px;
    padding-top:30px;

    .item {
      font-size: 16px;
      font-weight: bold;
      padding-top:10px;
      padding-bottom:5px;
      margin-bottom:20px;
      cursor: pointer;
      display:table;

      &:not(.active){
        color:$grey;
        border-bottom:1px solid transparent;
      }

      &.active, &:hover {
        border-bottom:1px solid $blue;
      }
    }
  }

  .list-panel {
    flex:1;
  }

}