@import "./variables";


div, figure, section, nav, article, input, textarea {
  padding:0; margin:0; box-sizing: border-box;
  font-family: 'Helvetica','Segoe UI','Roboto', sans-serif;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html, body {
  height:100%;
  padding:0; margin:0; box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display:inherit;
  text-decoration: inherit;
  color:inherit;
}




/* LOCKING TO PORTRAIT MODE! */
//@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
//  html {
//    transform: rotate(-90deg);
//    transform-origin: left top;
//    width: 100vh;
//    overflow-x: hidden;
//    position: absolute;
//    top: 100%;
//    left: 0;
//  }
//}





/********************************************/
/*              SHARED STYLES               */
/********************************************/



.slide-route-enter-active {
  transition: all .05s ease;
  transition-property: transform;
}
.slide-route-leave-active {
  transition: all .05s ease;
  transition-property: transform;
}
.slide-route-enter, .slide-route-leave-to {
  opacity:0;
}

.panel-pad {
  padding:30px 50px;

  max-width:$maxwidth;
  margin:0 auto;
}

.limiter {
  max-width:800px;
}

.mobile {
  .panel-pad {
    padding:30px;
  }
}

.flex {
  display:flex;

  > *:not(:first-child){
    padding-left:10px;
  }

  > * {
    flex:1 auto;
  }
}




.action-bar {
  padding-bottom:20px;
  border-bottom:1px solid $borderlight;
  overflow:hidden;
  display:flex;
  align-items: center;

  .tab-info {
    flex:1;
    display:block;

    .title {
      font-size: 24px;
      font-weight: bold;
    }

    .description {
      margin-top:5px;
      font-size: 13px;
      font-weight: bold;
      color:$grey;
    }
  }

  .actions {
    overflow:hidden;

    button {
      float:right;
      margin-left:10px;
    }
  }
}

.blue-steel {
  .action-bar {
    border-bottom: 1px solid $borderdark;
  }
}


.panel-head {
  text-align:center;

  .icon {
    width:68px;
    height:68px;
    font-size: 32px;
    background:$blue;
    border-radius:50%;
    margin:0 auto;
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin-top:20px;
    font-size: 24px;
    font-weight: bold;
  }

  .description {
    margin-top:5px;
    font-size: 13px;
    font-weight: bold;
    color:$grey;
  }
}

.switcher {
  width:100%;
  height:60px;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background:$light;
  color:initial;
  border-top:1px solid $borderlight;
  border-bottom:1px solid $borderlight;

  transition: all 1s ease;
  transition-property: color, background;
  z-index:3;

  .type {
    font-size: 13px;
    padding:20px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    font-weight: 800;
    color:$grey;

    &.active {
      color:initial;
    }
  }
}


.blue-steel {
  .switcher {

    background:$dark;
    color:#fff;
    border-top:1px solid $borderdark;
    border-bottom:1px solid $borderdark;

    .type {

      &.active {
        color:#fff;
      }
    }
  }
}



.line {
  width:1000%;
  height:1px;
  background:rgba(0,0,0,0.05);

  margin:0 -100%;
}

.blue-steel {
  .line {
    background: rgba(255,255,255,0.05);
  }
}

input, select, textarea {
  background:$light;
}

.blue-steel {

  input, select, textarea {
    background:transparent;
    color:#fff;

    &:disabled {
      background:$borderdark;
    }
  }
}