@import "./variables";


div, figure, section, nav, article, input, textarea {
  padding:0; margin:0; box-sizing: border-box;
  font-family: 'Helvetica','Segoe UI','Roboto', sans-serif;
}

html, body {
  height:100%;
  padding:0; margin:0; box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display:inherit;
  text-decoration: inherit;
  color:inherit;
}




/* LOCKING TO PORTRAIT MODE! */
//@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
//  html {
//    transform: rotate(-90deg);
//    transform-origin: left top;
//    width: 100vh;
//    overflow-x: hidden;
//    position: absolute;
//    top: 100%;
//    left: 0;
//  }
//}





/********************************************/
/*              SHARED STYLES               */
/********************************************/



.slide-route-enter-active {
  transition: all .5s ease;
  transition-property: transform, opacity;
}
.slide-route-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transition-property: transform, opacity;
}
.slide-route-enter, .slide-route-leave-to
  /* .slide-route-leave-active below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity:0;
}

.panel-pad {
  padding:30px 50px;

  max-width:$maxwidth;
  margin:0 auto;
}

.mobile {
  .panel-pad {
    padding:30px;
  }
}

.flex {
  display:flex;

  *:not(:first-child){
    padding-left:10px;
  }
}




.switcher {
  width:100%;
  height:60px;
  display:flex;
  align-items: center;
  justify-content: center;
  background:$dark;
  color:#fff;
  position: relative;

  transition: all 1s ease;
  transition-property: color, background;
  z-index:3;

  .type {
    font-size: 13px;
    padding:20px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    font-weight: 800;
    color:$grey;

    &.active {
      color:#fff;
    }
  }
}


.blue-steel {
  .switcher {
    background:$light;
    color:initial;

    .type {
      &.active {
        color:initial;
      }
    }
  }
}