@import "./variables";

.symbol-ball {
  cursor: pointer;
  margin:0 auto;

  transition: all 0.8s ease;
  transition-property: box-shadow;
}

.popup-content {
  overflow-y:scroll;
}

.transfer {
  max-width:420px;
  width:100%;

  .title {
    font-size: $font-size-large;
    font-family: 'Poppins', sans-serif;
    margin-bottom:30px;
    font-weight:bold;

    span {
      color:$blue;
      font-weight: bold;
    }
  }

  .tokens-text {
    font-size: $font-size-big;
    margin-top:50px;
    position: relative;
    z-index: 2;
    text-align:left;

    transition:all 0.5s ease;
    transition-property: margin-top;
    transition-delay: 0.2s;

    &.no-margin {
      margin-top:0;
      transition-delay: 0s;
    }

    &.smaller {
      font-size: $font-size-small;
      color:$blue;
      margin-bottom:-10px;
    }
  }

  .amount {
    display:flex;
    align-items: center;

    .input {
      margin-bottom:0;
    }

    .buttons {
      display:flex;

      button {
        padding:0 15px;

        span {
          font-size: $font-size-big;
        }

        &:first-child {
          margin-right:5px;
        }
      }
    }

    &:hover {
      ~ .tokens-value {
        opacity:1;
      }
    }
  }

  .tokens-value {
    font-size: $font-size-small;
    color:$grey;
    text-align:right;
    width:100%;
    opacity:0;
    margin-top:-5px;
    margin-bottom:5px;

    transition:all 0.1s ease;
    transition-property: opacity;
  }

  .select {
    margin-top:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .options {
      flex:1;
      display:flex;
      justify-content: space-between;
      max-height:80px;

      .option {
        cursor: pointer;
        text-align:center;
        display:inline-block;
        opacity:0.3;

        transition: all 0.2s ease;
        transition-property: transform, opacity, padding, margin;

        .symbol-ball {
          flex:0 0 auto;
          margin-bottom:6px;
        }

        .text {
          display:inline-block;
          font-size: $font-size-small;
          font-weight: bold;
          margin-top:5px;
          text-align:left;

          .sub-text {
            display:block;
            font-size: $font-size-small;
            font-weight: 500;
            color:$grey;
          }
        }

        &:hover {
          opacity:1;
        }

        &.selected {
          opacity:1;

          .symbol-ball {

          }
        }
      }

      &.wrapping {
        max-height:320px;
        flex-wrap: wrap;
        text-align:left;

        .option {
          width:100%;
          padding:15px 0;
          margin:0;
          display:flex;
          align-items: center;
          justify-content: flex-start;
          opacity:1;

          .text {
            font-size: $font-size-big;
          }
        }

        .symbol-ball {
          width:80px;
          height:80px;
          margin:0 30px 0 0;

          &:after {
            width:80px;
            height:80px;
          }
        }
      }
    }

    .more {
      flex:0 0 auto;
      font-size: $font-size-standard;
      color:$grey;
      font-weight: bold;
      padding:8px 12px;
      border:1px solid $grey;
      border-radius:4px;
      cursor: pointer;
    }
  }

  .receiving {
    padding:10px 20px;
    font-size: $font-size-standard;
    background: $blue;
    color: rgba(255,255,255,0.8);
    margin: -20px -40px -40px;
    line-height:22px;
    text-align:center;
    margin-top:40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    b {
      color:white;

      &:first-child {
        margin-bottom:2px;
      }
    }
  }

}

.mobile .receiving {
  position:fixed;
  bottom:80px;
  margin:0;
  left:0;
  right:0;
  z-index: 3;
}

.blue-steel {
  .transfer {
    .select {
      .options {
        .option {


          &.selected {
            .symbol-ball {

            }
          }
        }
      }
    }

    .receiving {
      color:#fff;
      background:$darkshadow;
    }
  }
}

.mobile {
  .transfer {
    .title {
      font-family: 'Poppins', sans-serif;
    }

    .tokens-text {
      font-size: $font-size-standard;

      &.smaller {
        font-size: $font-size-small;
        font-weight: bold;
      }
    }
  }
}





.hide-for-select-enter-active, .hide-for-select-leave-active {
  overflow:hidden;
  max-height:500px;
  transition: all .9s ease;
  transition-property: overflow, max-height;
  transition-delay: 0.5s;
}
.hide-for-select-enter, .hide-for-select-leave-to {
  max-height:0;
  transition: all .2s ease;
  transition-property: overflow, max-height;
  transition-delay: 0s;
}

.hide-search-enter-active, .hide-search-leave-active {
  overflow:hidden;
  max-height:100px;
  transition: all .9s ease;
  transition-property: max-height, opacity;
  transition-delay: 0.2s;
}
.hide-search-enter, .hide-search-leave-to {
  max-height:0;
  transition: all .05s ease;
  transition-property: max-height, opacity;
  transition-delay: 0.55s;
}

.hide-field-enter-active, .hide-field-leave-active {
  overflow:hidden;
  max-height:80px;
  transition:all 0.3s ease;
  transition-property: max-height, padding, margin;
}
.hide-field-enter, .hide-field-leave-to {
  max-height:0;
}

.tokens-list-enter, .tokens-list-leave-to {
  opacity: 0;
}

.tokens-list-leave-active {
  position: absolute;
}

.mobile {


  .tokens-list-leave-active {
    position: relative;
    overflow:hidden;
    max-height:20px;
  }
}
